/* Global Styles */
html {
    background-color: grey;
    box-sizing: border-box;
}

/* Navigation Styles */
nav {
    font-family: Montserrat;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: lightsalmon;
    font-size: 2em;
    margin-bottom: 2em;
    padding: 1em 0;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    color: #000;
}

nav a:visited {
    color: inherit;
}

.nav-links {
    position: absolute;
    right: 1em;
}

.header {
    margin-left: 1em;
}

/* Random Meme Button Styles */
.random-meme {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #FF5722;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 2em;
    margin-bottom: 2em;
}

.random-meme:hover {
    background-color: #FF7043;
}

/* Gallery Styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.gallery-item {
    overflow: hidden;
}

.gallery-img {
    width: 100%;
    height: auto;
}

/* Editor Styles */
.editor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25em;
    padding: 1.25em;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls button {
    margin: 0.3125em 0;
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

.controls input[type="text"],
.controls input[type="color"] {
    margin: 0.3125em 0;
    padding: 0.5em;
    border-radius: 0.25em;
    border: 0.0625em solid #521414;
    width: 80%;
}

#text {
    width: 20vw;
}

#color {
    width: 10vw;
}

.controls label {
    margin: 0.3125em 0;
    font-size: 1em;
}

.arrow-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1.25em;
}

.arrow-button {
    padding: 0.625em 1.25em;
    font-size: 1.2em;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.arrow-button:hover {
    background-color: #6daf71;
}

.arrow-button:not(:last-child) {
    margin-right: 0.625em;
}

.btn {
    display: inline-block;
    padding: 0.625em 1.25em;
    font-size: 1em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

.download {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0.7em;
}

/* Saved Memes Styles */
.saved {
    display: flex;
    flex-wrap: wrap;
}

.saved-meme {
    margin: 10px;
    width: 200px;
}

.saved-meme img {
    width: 100%;
    height: auto;
}

.remove-meme-btn {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-meme-btn:hover {
    background-color: #cc0000;
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightsalmon;
    font-size: 2em;
    font-family: Montserrat;
    margin-bottom: 2em;
    padding: 1em 0;
}

/* Utility Classes */
.hide {
    display: none;
}