/* Navigation Styles */
nav {
    font-family: Montserrat;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: lightsalmon;
    font-size: 2em;
    margin-bottom: 2em;
    padding: 1em 0;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    color: #000;
}

nav a:visited {
    color: inherit;
}

.nav-links {
    position: absolute;
    right: 1em;
}

.header {
    margin-left: 1em;
}

/* Random Meme Button Styles */
.random-meme {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #FF5722;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 2em;
    margin-bottom: 2em;
}

.random-meme:hover {
    background-color: #FF7043;
}

.success-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: green;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    opacity: 1;
    transition: .6s;
    opacity: 0;
}